[user]
	email = atsuinatsu.samuifuyu@gmail.com
	name = oieioi
[alias]
	a = add
	b = !git --no-pager branch
	br = !git --no-pager branch -a
	cached = diff --cached
	clean-branch = !git branch|grep -v -E '^\\*'|xargs git branch -d
	clean-branch-force = !git branch|grep -v -E '^\\*'|xargs git branch -D
	co = !echo 'Use git restore!!!!!!!!!!!!'
	com = commit -m
	cpr = pull-request
	d = diff
	f = fetch
	l = log --all --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%ad%Creset %Cgreen%an%Creset %s %Cred%d%Creset'  --branches
	last = show -1 HEAD --stat -p
	rs = restore
	s = status -s
	sb = show-branch
	sh = switch
[color]
	ui = true
	diff = true
[core]
	editor = nvim
	# gitcontrib/diff-highlightをパスの通ったとこに置くこと
	pager = diff-highlight|LESS=-R less
	excludesfile = ~/.gitignore_global
[log]
	date = local
[http]
	sslVerify = false
[credential]
	helper = store
[push]
	default = current
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[tig]
	main-view = id date author commit-title:graph=yes,refs=yes
	wrap-lines = yes
	vertical-split = no
	commit-order = topo
